<header class="navbar navbar-dark sticky-top shadow-sm" style="background-color: #00ACC1;">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 d-flex align-items-center" href="/admin/dashboard">
        <img src="/images/ship-logo.svg" alt="MarineShine Logo" width="32" height="32" class="me-2">
        MarineShine Admin
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>